<ion-view class="scroll">
    <ion-content class="padding cust-center-ion-content3 background2">
   <div class="col" style="text-align: center">
	   <img style="width:100px;" src="img/icons/logosimp.png">
    <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Username" ng-model="UserName">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" ng-model="Password">
  </label>
</div>    
<button class="button button-block button-calm" ng-click="currentUser.login(UserName,Password)">Login</button>
   </div>
       
      </ion-content>
</ion-view>

