
<ion-view hide-nav-bar="false" >
    <ion-header-bar class="bar-dark">
        <div class="col">
            <img style="height:27px" src="img/icons/logosimp.png"/>
        </div>
        <!-- New Task button-->
        <div class="col" style="text-align:right">
            <button class="button button-icon" ui-sref="Notes">
                <i class="icon ion-compose"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-refresher on-refresh="updateRecruits()"></ion-refresher>
        <ul class="list">
            <li class="item padding" style="background-color:#CCCCCC">
                <input type="text" class="form-control" placeholder="Search..." ng-model="search" style="height:35px;padding:10px 10px 10px 20px;border-radius: 20px;width:100%;"/>
            </li>
            <div ng-repeat="recruit in usersLiscenced|filter:search">
                <li class="item" ng-class="{active: isItemShown(recruit)}"  ng-click="toggleItem(recruit)"  style="vertical-align: middle;line-height:30px">
					{{recruit.fname +' ' +recruit.lname}}
                    
                            
                        
                    <div style="width:30px;height:30px;float:right" >
                        <canvas id="doughnut" class="chart chart-doughnut" chart-data="[recruit.Color_Blue,recruit.Color_White,recruit.Color_Red,recruit.Color_Yellow]" chart-legend="false" chart-colours="['#97BBCD', '#DCDCDC', '#F7464A', '#FDB45C']" chart-labels="['','','','']"
							 width="10px" height="10px"></canvas>
                    </div>
                </li>
                <li class="item item-accordion"
                    ng-show="isItemShown(recruit)">
                    <div class="card">
                        <div class="list">
                            <div class="item item-text-wrap">
                                <div class="item item-button-left">
                                    <button ng-click="sendEmail(recruit.Email)"class="button button-positive">
                                        <i class="icon ion-ios-email"></i>
                                    </button>
                                    <span>{{recruit.Email}}</span>
                                </div>
                                <div class="item item-button-left">
                                    <button  ng-click="dialNumber(recruit.phone)" class="button button-positive">
                                        <i class="icon ion-ios-telephone"></i>
                                    </button>
                                    <span>{{recruit.phone}}</span>
                                </div>
                                <div class="item item-button-left">
                                    <button  ng-click="dialNumber(recruit.phone)" class="button button-positive">
                                        <i class="icon ion-ios-checkmark-outline"></i>
                                    </button>
                                    <span>{{recruit.NextStep}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </ion-content>
    <ion-footer-bar class="bar-dark"></ion-footer-bar>
</ion-view>




