
<ion-view hide-nav-bar="false" class="background4" style="background:rgba(0,0,0,.7)!important">
 <div ng-hide="sideMenu==false" class="shadow_1" style="height:100%;width:200px;background: rgba(255,255,255,.9);position: absolute;z-index:99;display: block">
 </div>
    <ion-header-bar class="shadow_1" style="background:rgba(215,228,236,.95)!important;">

        <div class="col"  style="text-align: left">
            <img ui-sref="Home" style="height:27px" src="img/icons/logosimp.png"/>
        </div>
        <!-- New Task button-->
        <!-- New Task button-->
        <div class="col" style="text-align: right">
            <button ng-init="sideMenu=false" class="button button-icon" ng-click="sideMenu=!sideMenu">
                <i class="icon ion-android-more-horizontal"></i>
            </button>
        </div>

           </ion-header-bar>
           <ion-nav-view animation="slide-left-right"  style="background-color:white"></ion-nav-view>
       <ion-footer-bar  style="background:rgba(215,228,236,.99)!important;box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.30)!important;"></ion-footer-bar>
</ion-view>
